*{
    /* color:rgb(5, 156, 73); */
    background-color: #1b1a1a;

}

#MainTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36pt;
    color: white;
    text-align: center;
}
#Project3{
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    /* flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 0; */
    margin-top: 12px;
    /* margin-left: 2rem; */
    /* margin-right: 12px;
    margin-left: 12px; */
    /* box-shadow: 0 2px 5px -2px black; */
    justify-content: center;
}

#ProjectImage{
float: left;
}

#ProjectTitle{
    /* background-color: black; */
    /* display: flex; */
    color:rgb(105, 183, 81);
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 1rem;
    margin-left: 15rem;
}

#ProjectText{
    color: white;
    margin-left: 15rem;
}

/* .nav-bar{
display: flex;
} */

#navlist{
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    padding: 1rem;
    border: 0;
    margin: 0px;
}

.navlink{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5rem
}

.selectednav{
    background-color: black;
    color:rgb(105, 183, 81);
    text-decoration: none;
    padding: 5rem
}

#AboutText{
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    padding: 3rem;
    font-size: 14pt;
}
#AboutHeader{
    font-size: 36pt;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    color: rgb(105, 183, 81);
    padding: 2rem;
}

#FlexContainerAbout{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#FlexContainerHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
    
}
#FlexContainerIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
    
}
#FlexContainerProjects{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 12px;
    justify-content: center;
    /* box-shadow: 0 2px 5px -2px black; */
    /* align-items: flex-end; */
}

.navbarTitle{
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 100pt;
    margin-left: 0pt;
    
}

