*{
    /* color:rgb(5, 156, 73); */
    background-color:white;

}
/* #nav-bar{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1000px;
} */

#MainTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36pt;
    color: black;
    text-align: center;
}
#Project{
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    box-shadow: 0 2px 5px -2px black;
}

#ProjectTitle{
    background-color: black;
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#ProjectText{
    color: black
}

#navlist{
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem;
    border: 0;
    margin: 0px;
}

.navlink{
    background-color: black;
    color: white;
    text-decoration: none;
}

.selectednav{
    background-color: black;
    color:red;
    text-decoration: none;
}

#AboutText{
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
    padding: 3rem
}
#AboutHeader{
    font-size: 36pt;
    color: black;
    padding: 3rem
}

